<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    <script src="{{ '/js/menu.js' | url }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel=stylesheet>
  </head>

  <body class="wrapper">
    <nav class="menu" >
      <input id="menu-hamburguer" type="checkbox" onclick="handleMenu()"/>

      <label for="menu-hamburguer">
        <div class="menu">
          <span class="hamburguer"></span>
        </div>
      </label>
    </nav>

    <aside class="aside">
      <img src="{{ '/assets/logo.png' | url }}">

      <div>
        {{ content | toc | safe }}
      </div>
    </aside>

    <main class="content">
      <header class="header">
        <h1>{{ title }}</h1>
      </header>

      {{ content | safe }}

      <footer>
      © 2020 imec-DistriNet, KU Leuven. Este trabalho foi licenciado sob uma licença Creative Commons Attribution 4.0 International License. Para saber mais sobre o LINDDUN, acesse: www.linddun.org
      </footer>
    </main>
  </body>
</html>