*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "Comfortaa", cursive;
  background-color: #f8f8fa;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  .wrapper {
    flex-direction: row;
  }

  aside {
    /* position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh; */
    max-width: 400px;
  }
}

.aside {
  border-right: 1px solid #dcdcdc;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
}

.aside img {
  max-width: 240px;
  margin-bottom: 24px;
}

.content {
  max-width: 80ch;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
}

h1 {
  margin-top: 32px;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.linkability > h2,
.linkability > h3 {
  color: #69a5da;
}

.identifiability > h2,
.identifiability > h3 {
  color: #a1c038;
}

.dontreject > h2,
.dontreject > h3 {
  color: #4d8d3f;
}

.detectionability > h2,
.detectionability > h3 {
  color: #f0b81f;
}
